<div class="compact-note" *ngIf="!isExpanded" (click)="expandNote()">
    <span>Take a note...</span>
</div>
<div class="expanded-note" *ngIf="isExpanded" [style.backgroundColor]="color">
    <input placeholder="Title" [(ngModel)]="title">
    <textarea placeholder="Take a note..." (input)="autoResize($event)" [(ngModel)]="description"></textarea>
    <div class="note-actions">
        <div class="note-icons">
        <button mat-icon-button aria-label="reminder button" matTooltip="Reminder">
            <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
        </button> 
        <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator">
            <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="color button" matTooltip="Background Color Options">
            <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="archive button" matTooltip="Archive Options">
            <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive button icon"></mat-icon>
        </button>
        <button mat-icon-button aria-label="more button" matTooltip="More Options">
            <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="more button icon"></mat-icon>
        </button> 
    </div>
    <div class="note-button">
        <button mat-button color="primary" (click)="handleAddNote()">Close</button>
    </div>
    
    </div>
</div>