
  
  .dashboard-title {
    margin-left: 16px;
    font-size: 24px;
  }
  
  .dashboard-container {
    display: flex;
    height: calc(100vh - 64px);
    
  }
  
  .dashboard-sidenav {
    width: 100px;
    margin-top: 10px;
    padding:15px;
    
    font-weight: bold;
  }
  
  mat-list-item{
    padding: 15px;
    font-size: large;
  }
  
  .userBadge{
    width:40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    background-color: green;
  }
  mat-menu {
    padding: 15px,15px,15px,15px; 
    margin-right: 5px;
    width: 250px; 
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
  }

 