<div>
    <mat-toolbar>
      <button mat-icon-button (click)="toggleDrawerState()" class="example-icon" >
        <mat-icon>menu</mat-icon>
      </button>
      <span>FunDo</span>
    </mat-toolbar>
    <mat-drawer-container class="dashboard-container" [hasBackdrop]="false">
        <mat-drawer style="width: 250px;" #drawer [mode]="'over'" [opened]="drawerState">
          <div>
            <div mat-list-item style="margin-bottom: 10px"(click)="navigateTo('notes')">Notes</div>
            <div mat-list-item style="margin-bottom: 10px" (click)="navigateTo('archive')">Archive</div>
            <div mat-list-item style="margin-bottom: 10px" (click)="navigateTo('trash')">Trash</div>
          </div>
        </mat-drawer>
        
        <mat-drawer-content style="width: 100%;">
          <router-outlet></router-outlet>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>















