.notecard-container {
    display: flex;
    justify-content: center;
    margin: 20px;
    width: 100%;
}

.notecard {
    display: flex;
    flex-direction: column;
    width: 300px;
    padding: 15px;
    position: relative;
    min-height: 150px; 
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1); 
    border-radius: 8px; 
}

.notecard-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: 8px;
    color: black;
    font-weight: bold;
    
}

.notecard-description {
    font-size: 1em;
    color: black; 
    margin-bottom: 16px;
    display: block;
    word-wrap: break-word;
    overflow-wrap: break-word;
    flex-grow: 1;
}

.notecard-actions {
    bottom: 10px;
    display: flex;
    gap: 8px; 
    justify-content: flex-start;
    align-items: center;
}

.color-palate-cnt {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    width: 350px;
    border-radius: 8px;
    position:absolute;
    top:100%;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.color-btn {
    width: 30px;
    height: 30px;
    border-radius: 200px;
    margin: 8px 0px;
}
.col1 {
    @extend .color-btn;
    background-color: #FFFFFF; 
    border: 1px solid #e7e7bc;
}
.col2 {
    @extend .color-btn;
    background-color: #FAAFA8;
    border: 1px solid #FAAFA8; 
 }
 .col3 {
    @extend .color-btn;
    background-color: #F39F76;
    border: 1px solid #F39F76; 
 }
 .col4 {
    @extend .color-btn;
    background-color: #FFF8B8;
    border: 1px solid #FFF8B8; 
 }
 .col5 {
    @extend .color-btn;
    background-color: #E2F6D3;
    border: 1px solid #E2F6D3; 
 }
 .col6 {
    @extend .color-btn;
    background-color: #B4DDD3;
    border: 1px solid #B4DDD3; 
 }
 .col7 {
    @extend .color-btn;
    background-color: #D4E4ED;
    border: 1px solid #D4E4ED; 
 }
 .col8 {
    @extend .color-btn;
    background-color: #AECCDC;
    border: 1px solid #AECCDC; 
 }
 .col9 {
    @extend .color-btn;
    background-color: #D3BFDB;
    border: 1px solid #D3BFDB; 
 }
 .col10 {
    @extend .color-btn;
    background-color: #F6E2DD;
    border: 1px solid #F6E2DD; 
 }
 .col11 {
    @extend .color-btn;
    background-color: #E9E3D4;
    border: 1px solid #E9E3D4; 
 }
 .col12 {
    @extend .color-btn;
    background-color: #EFEFF1;
    border: 1px solid #EFEFF1; 
 }
