<div class="notecard-container">
    <div class="notecard">
        <span class="notecard-title">title</span>
        <span class="notecard-description">description  </span>
        <div class="notecard-actions">
            <button mat-icon-button aria-label="reminder button" matTooltip="Reminder">
                <mat-icon svgIcon="reminder-icon" aria-hidden="false" aria-label="reminder icon"></mat-icon>
            </button> 
            <button mat-icon-button aria-label="collabrator button" matTooltip="Collabrator">
                <mat-icon svgIcon="collabrator-icon" aria-hidden="false" aria-label="collabrator icon"></mat-icon>
            </button>
            <button mat-icon-button aria-label="color button" matTooltip="Background Color Options">
                <mat-icon svgIcon="color-palatte-icon" aria-hidden="false" aria-label="color button icon"></mat-icon>
            </button>
            <button mat-icon-button aria-label="archive button" matTooltip="Archive Options">
                <mat-icon svgIcon="archive-icon" aria-hidden="false" aria-label="archive button icon"></mat-icon>
            </button>
            <button mat-icon-button aria-label="more button" matTooltip="More Options">
                <mat-icon svgIcon="more-icon" aria-hidden="false" aria-label="more button icon"></mat-icon>
            </button>
        </div>
    </div>
</div>





