
.notes-container-cnt {
    display: flex;
    flex-direction: column;
    padding: 20px;
    // width: 100%;
    max-width: 100%;
    margin: 0 auto;
    justify-content: center;
    
    
}


.app-add-note {
    margin-bottom: 20px;
}


.notes-cnt {
    display: flex;
    gap: 16px;
    width: 100%;
    box-sizing: border-box;
    flex-wrap: wrap;
    justify-content: center;
}


.app-note-card {
    box-sizing: border-box;
    margin-bottom: 16px;
    background-color: #fff;
    padding: 16px;
}


