.registercontainer {
    display: flex; 
    min-height: 100vh; 
   
}
.register-box-container{
    display:flex;
    flex-direction: row;
    border: 2px solid black;
    height:auto;
    padding:20px 20px;
    margin: auto;
    align-items: center;
    }


img {
    max-width: 200px; 
    max-height: 200px; 
    padding:40px;
}
.register-action-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%
}
.register-example-full-width {
    width: 100%;
    margin-bottom:10px;
  }
.register-input-cnt{
    display: flex;
    gap: 15px;
}
.alert {
    position: fixed;
    top: 10%;
    left: 50%;
    transform: translateX(-50%);
    padding: 15px 20px;
    background-color: #f8d7dafa;
    color: #721c24;
    border-radius: 5px;
    font-size: 16px;
  }
